{#
/**
 * @file
 * Custom theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view object.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 * - custom_variable_field: Custom variable added in preprocess function.
 *
 * @see template_preprocess_views_view_field()
 */
#}

<div class="views-view-field custom-field-class">
  {{ output }}
</div>
{{ kint(_context) }}

<h2>Lola</h2>
